

<ion-content>
  <div class="fullscreen-bg">
    <video autoplay loop muted webkit-playsinline>
      <source src="../../assets/slg-short-video-mobile-app.mp4" types='video/mp4; codecs="h.264"'>
      <source src="./assets/video/background/forest-cover.webm" types="video/webm">
    </video>
  </div>


<ion-img class="center" src="../../assets/slg-logo.png"></ion-img>

<div class="center animated zoomIn btnposition">
    <ion-button [routerLink]="['/login']"> Login <ion-icon name="lock-closed-outline"></ion-icon> </ion-button>
</div>

</ion-content>
