<ion-header [translucent]="true">
<ion-toolbar color="light">
  <ion-buttons slot="start" (click)="navigate()">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title> HRM </ion-title>
  <ion-progress-bar></ion-progress-bar>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-button shape="round" expand="full" [routerLink]="['/tabs/leave']"> Leave <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> </ion-button>    

   <ion-button shape="round" expand="full" [routerLink]="['/tabs/my-attendance']"> Attendance 
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> </ion-button>    


</ion-content>
