
<ion-content [fullscreen]="true">


<ion-img class="center" src="../../assets/slg-logo.png"></ion-img>



<form novalidate [formGroup]="loginForm" (submit)="login()" class="ion-padding">

  <ion-item>
    <ion-input label="Employee ID" labelPlacement="floating" placeholder="Enter Employee ID" formControlName="username"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="Enter Password" type="password" formControlName="password"></ion-input>
  </ion-item>

 <ion-button expand="full" type="submit" style="margin-top: 20px;"> Login</ion-button>
 
</form>


</ion-content>
