    ion-button{
        --background: #17AAE2;
    }    

    ion-img{
        margin-left: 30% !important;
        margin-top: 60px !important;
        width: 150px;
        height: 100px;
    }    

    ion-icon{
        width: 23x;
        height: 13px;
    }