<ion-header [translucent]="true">
<ion-toolbar color="light">
  <ion-buttons slot="start" (click)="navigate()">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title> My Attendance </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<!-- <ion-text class="center-text">  </ion-text> -->
	<ion-text class="center-text"> Work In-progress <br> In development. You will get this feature soon.. </ion-text>
	 <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ion-content>
