.form-padding{
	padding-top: 20px; padding-left: 15px; padding-right: 15px;
}
.button-position{
	margin-top: 20px;
}

.transparent-button {
  --background: transparent;
  --border-color: transparent;
  --color: inherit;
}

