ion-card{
	--background: #2190BF;
    --color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom-right-radius: 70px 40px;
	border-top-left-radius: 70px 40px;
}

ion-card-subtitle{
 --color: #000;
}